﻿<#@ template language="C#" #>
<#@ assembly name="System.Core" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.Collections.Generic" #>
<#@ import namespace="MagentoModuleGenerator.Classes" #>
<?php
/**
 * Renderer for image values in grid
 * Show small image in grid cell
 *
 * @category   <#= config.Namespace #>
 * @package    <#= config.FullName #>
 * @subpackage Block
 * @author     Author Name <author@email>
 */

class <#= config.FullName #>_Block_Adminhtml_<#= config.Module.CapitalizeFirst() #>_Renderer_Image extends Mage_Adminhtml_Block_Widget_Grid_Column_Renderer_Abstract
{
	public function render(Varien_Object $row)
	{
		$value =  $row->getData($this->getColumn()->getIndex());
		if(!empty($value)){
			//$path = Mage::getBaseDir('media').DS."<#=config.Module.ToLower()#>".DS.$value;
			$url = Mage::getBaseUrl('media').str_replace(DS, "/", $value);
			
			$out = '<center><a href="'.$url.'" target="_blank" id="imageurl" width="50">';
			$out .= "<img src=". $url ." width='60px' ";
			$out .=" />";
			$out .= "<"."/a></center>";
			return $out;
		}
		else
			return "";
	}
}
